#hero h2 {
  font-size: clamp(30px, 50px, 60px) !important;
}

#hero h3 {
  font-size: clamp(20px, 30px, 40px) !important;
}

#content #hero .hero-content > a {
  color: #2e6cc7 !important;
}

#contact {
  font-size: 150%;
}

#contact a.btn {
  font-size: 100%;
}

.deliveries ul {
  list-style-type: "❤️ ";
}

.deliveries ul li {
  font-size: clamp(1.5rem, 1.8rem, 2rem);
  line-height: 2.8rem;
}

#single .featured-image {
  float: inline-end;
  margin-left: 20px !important;
}

#single.two-images article.page-content {
  float: inline-start;
}

#single.two-images .featured-image img {
  padding: 0 10px 10px 10px;
  max-width: calc(100% - 40px);
}

.gallery .w-100 {
  object-fit: cover;
}

.tc {
  text-align: center;
}
